<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    </meta>

    <style>
        #dimScreen {
            height: 100vh;
            width: 100vw;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.5);
        }
    </style>
</head>

<body>

    <div id="dimScreen">
        <iframe frameborder="0" scrolling="no"  width="100%" height="100%"
            src="http://docs.google.com/gview?a=v&pid=explorer&chrome=false&api=true&embedded=true&srcid=1er9cxoI3rZ6DXoZG2J8E33tJSlsHAZ_0&hl=en&embedded=true">
        </iframe>
    </div>
</body>