<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    </meta>

    <style>
        #dimScreen {
            height: 100vh;
            width: 100vw;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.5);
        }
    </style>
</head>

<body>

    <div id="dimScreen">

        <iframe
            src="https://firebasestorage.googleapis.com/v0/b/fidoandme-backend.appspot.com/o/blogpost%2Fcv%2Fcv_english.pdf?alt=media&token=db91268a-307a-4416-818d-e2a59f98ef59"
            width="100%" height="100%" /></iframe>
            
    </div>
</body>