<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fido & Me</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>

    <div class="container">
        <nav class="navbar">
            <ul>
                <li id="menu0 f">
                    <a id="menu0f" name="menu0" href="#home_f">
                        <img src="/images/svg/home.svg">
                    </a>
                </li>
                <li id="menu1 f">
                    <a id="menu1f" name="menu1" href="#blog_f">
                        <img src="/images/svg/blog_f.svg">
                    </a>
                </li>
                <li id="menu2 f">
                    <a id="menu2f" name="menu2" href="#about_f">
                        <img src="/images/svg/about_f.svg">
                    </a>
                </li>
                <!-- <li><a href="#contact"></a></li> -->
            </ul>
        </nav>


        <section id="home_f">
            <a href="/#" class="button-title">
                <div class="f transform transform-active-f">
                    <img src="/images/svg/fido.svg">
                </div>
            </a>
            <a href="/#" class="button-title">
                <div class="m transform">
                    <img src="/images/svg/me.svg">
                </div>
            </a>

            <a href="/#" class="button-title">
                <!-- <div class="mf-fido"> -->
                <img class="mf-fido" src="/images/fido.png">
                <!-- </div> -->
            </a>

            <a href="/#" class="button-title">
                <img id="mf-tie" class="mf-tie" src="/images/svg/tie.svg">
            </a>

            <!-- <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p> -->
        </section>



        <section id="blog_f">
            <h1>Blog Feed</h1>
            <p class="lead">This page is yet to be finnished :(.</p>
        </section>
        <section id="about_f">
            <h1>About </h1>
            <p class="lead">This page is yet to be finnished :(</p>
        </section>

    </div>
    <div class="middle">
        <a class="btn" href="https://www.linkedin.com/in/ramiro-valdez/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="btn" href="https://twitter.com/Phoenix97432180" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="btn" href="https://www.instagram.com/phoenixz10/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a class="btn" href="https://rive.app/a/zphoenixz/" target="_blank">
            <i class="fas fa-dragon"></i>
        </a> 
        <a class="btn" href="https://github.com/zphoenixz" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="/js/libs/jquery.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.keyframes.js"></script>
    <script src="/js/nav_animations.js"></script>
</body>

</html>