<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fido & Me</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,700" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="container">
        <nav class="navbar">
            <ul>
                <li id="menu0f">
                    <a href="#home_f">
                        <img src="/images/svg/home.svg">
                    </a>
                </li>
                <li id="menu1f">
                    <a href="#blog_f">
                        <img src="/images/svg/blog_f.svg">
                    </a></li>
                <li id="menu2f">
                    <a href="#about_f">
                        <img src="/images/svg/about_f.svg">
                    </a>
                </li>
                <!-- <li><a href="#contact"></a></li> -->
            </ul>
        </nav>


        <section id="home_f">
            <a href="/#" class="button-title">
                <div class="f transform transform-active-f">
                    <img src="/images/svg/fido.svg">
                </div>
            </a>
            <a href="/#" class="button-title">
                <div class="m transform">
                    <img src="/images/svg/me.svg">
                </div>
            </a>

            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
        </section>



        <section id="blog_f">
            <h1>About</h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
        </section>
        <section id="service">
            <h1>Service</h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
        </section>
        <section id="contact">
            <h1>Contact</h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
        </section>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="/js/libs/jquery.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.keyframes.js"></script>
    <script src="/js/nav_animations.js"></script>
</body>

</html>