<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Smooth Scroll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="#home_f">Home</a></li>
                <li><a href="#home_m">About</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <section id="home_f">
            <h1>Welcome To My Site</h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
        </section>
        <section id="home_m">
            <h1>About</h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
        </section>
        <section id="service">
            <h1>Service</h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
        </section>
        <section id="contact">
            <h1>Contact</h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
        </section>
    </div>

</body>

</html>