* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Dosis, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    height: 100vh;
    line-height: 1.2;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    position: relative;
}

.navbar {
    position: fixed;
    z-index: 1;
    top: 5.5%;
    left: 60%;

    width: 40%;
    height: 7.5%;
}



.navbar a img {
    max-height: 100%;
    max-width: 100%;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.navbar ul li {
    display: inline;
    margin: 0 6% 0 6%;
    /* padding-inline: 6%; */
}

.navbar ul li a:hover {
    background-color: skyblue;
    background-clip: border-box;
}
@media screen and (max-width: 750px) {
    /* For mobile phones: */
    .navbar {
        left: 30%;
        width: 70%;
    }
    .navbar ul li {
        display: inline;
        margin: 6% 6% 0 6%;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;

    /* Scroll Snap */
    scroll-snap-align: center;
}

section h1 {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

/* Section Images */
section#home_f {
    background: url('/images/illimani.jpg') no-repeat center center/cover;
    box-shadow: inset 0 0 0 1000px rgba(59, 76, 102, 0.6);
}

section#home_m {
    background: url('/images/illimani.jpg') no-repeat center center/cover;
    box-shadow: inset 0 0 0 100vmax rgba(88, 117, 119, 0.6);
}

section#service {
    background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;
    ;
}

section#contact {
    background: url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;
    ;
}

/* Buttons */
.f {
    background-color: #212D40;
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 15px;

    height: 7.5%;
    width: 10%;
    left: 3%;
    top: 5.5%;
}

.f img {
    width: 70%;
    height: auto
}

.transform-active-f {
    height: 10%;
    width: 13.5%;
    left: 3%;
    top: 3%;
}

.transform-active-f img {
    width: 70%;
    height: auto
}

.m {
    border-radius: 20% 20% 20% 20%;
    background-color: #2A3A3B;
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 15px;

    height: 7.5%;
    width: 10%;
    left: 17.5%;
    top: 5.5%;
}

.m img {
    width: 70%;
    height: auto
}

.transform-active-m {
    height: 10%;
    width: 13.5%;
    left: 14%;
    top: 3%;
}

.transform-active-m img {
    width: 70%;
    height: auto
}

.transform {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

/* Fido's tie and Image */