<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    </meta>

    <style>
        #dimScreen {
            height: 100vh;
            width: 100vw;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.5);
        }
    </style>
</head>

<body>

    <div id="dimScreen">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQPwf2NNMoPdJr7agyhtZyp7LzEOYpKN6vxmBGyAFmVZjXPEMBfL017DpG9J_mzLQ/embed?start=true&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</body>